.developer-username {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 20px;
    color: white;

    @include phones{
        margin-bottom: 10px;
    }
}

.developer-desc {
    line-height: 1.8;
    opacity: .4;
}
.developer{
    @include desktop {
        padding: 10px 45px;
        text-align: left;
    }
    @include phones{
        padding: 10px 0px;
    }
}