.developer-username {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 20px;
    color: white;
}

.developer-desc {
    line-height: 1.8;
    opacity: .4;
}