.mentor__name{
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.mentor__ps{
    color: #5a5753;
    font-size: 16px;
    font-weight: 800;
}



.mentor__avatar{
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    position:relative;
}
.mentor__name{
    margin-bottom: 25px;
}
.mentor__avatar-pic{
    width: 100%;
    position:absolute;
    top: 0;
    left:0;
}