
.previews {
    display: flex;
}
.previews__item{
    width: 177px;
    height: 100px;
    margin-right:1px;
    &:hover{
    background: #ff9a00;
    }
}
.previews__pic{
    width: 100%;
    &:hover{
        opacity:0.6;
    }
}

.previews__active{
    outline: 1px solid #ff9a00;
}