.scroll-down-btns{
    color:white;
    display:flex;
    align-items:center;
    font-size:18px;
    font-weight:600;
    outline:none;
    &:hover{
        color: #ff9a00;
    }

    @include tablets{
        display: none;
    }
}

.scroll-down-btns:hover .scroll-down{
 fill:#ff9a00;
}

.scroll-down{
    width:30px;
    height:30px;
    fill:white;
}