.slider__buttons{
    position: relative;
   
}
.slider__button{
    position: absolute;
    left: 0;
    bottom: 60px;
    background: #353e4e;
   
      
}
.slider-buttons__item{
    background: #353e4e;

     &:hover{
        background:#5500f2;
        transition: 0.2s
    }
}