.socials{
    display: flex;
    align-items: center;
}

.socials__item{
    margin-right: 40px;

    &:last-child{
        margin-right: 0;
    }

}
.social__icon{
    width: 28px;
    height: 31px;
    display: block;
    fill: #6f6b68;
    &:hover{
        fill:#ff9a00;
        transition: 0.2s
    }

}
