.user-skills{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   padding-right:  20%;

   @include desktop {
       padding-right:  10%;
   }
    @include tablets{
        padding-right: 0;
     }

     
}