.parallax-header
    .parallax-header__item.parallax-header__item__1
    .parallax-header__item.parallax-header__item__2 
    .parallax-header__item.parallax-header__item__3
    .parallax-header__item.parallax-header__item__4
    .parallax-header__item.parallax-header__item__5 
