.parallax-header
    .parallax-header__item.parallax-header__item__1
        +image("content/bg/parBG.jpg", "paralax-header__img")
    .parallax-header__item.parallax-header__item__2
        +image("content/bg/parBG2.png", "paralax-header__img")
    .parallax-header__item.parallax-header__item__3
        +image("content/bg/parBG3.png", "paralax-header__img")