script(type="text/x-template")#skills-list
    .skills-user
        ul.user-skills
            li.skills__item(v-for='skill in skills' :key="skill.skillsGroup")
                user-skills(
                    :skill="skill"
)
script(type="text/x-template")#skills-row
    .user-skills__item.skills-row
        h3.skills-row__title {{skill.skillsGroup}}
        ul.skills-row__list
            li.skills-row__item(v-for="(skillPercent, skillName) in skill.skills")
                skill(
                    :skill-name='skillName'
                    :skill-percent='skillPercent'
)
script(type="text/x-template")#skill
    .skill
        svg.skill-chart(viewBox="0 0 100 100" )
            - var r= 47
            circle.skill__circle.skill__circle_under(r=r cx="50" cy="50" )
            circle.skill__circle.skill__circle_above(r=r cx="50" cy="50" stroke-dasharray=295)
        .skill__name {{skillName}}